

h1{
    color: maroon;
    font-weight: bold;
    font-style: italic;
    font-size: 60 px;
    text-indent: 11cm;
}

.tooltip{
    position:fixed;
    display:none;
    color: white;
    font-size: 12px;
    background-color: lightslategrey;
    opacity: .9;
    padding: 8px;
    border-radius: 4px;
  }